<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hack AES</title>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Main</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a target="_blank" href="/xor">Tools</a>
                </li>
                <li>
                    <a href="/explanation">Solution</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Hack AES</h1>
            <p class="lead">Find the secret message that was encrypted using AES!</p>
            <p class="lead">Decrypt this secret message:</p>
            <div class="alert alert-info" role="alert"><p class="secret">
                    <%= encryptedSecret %>
                </p></div>
            <ul class="list-unstyled">
                <li><a href="#">AES-CTR</a></li>
                <li>Read the <a href="#">code on Github</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <p class="lead">Provide as many inputs as you like:</p>
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="get">
                <div class="form-group">
                    <label for="data">Unicode Input</label>
                    <input type="text" name="data" class="form-control" id="data" placeholder="Input data">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <table>
                <tr>
                    <td>
                        Plaintext:
                    </td>
                    <td>
                        <%= plaintext %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Ciphertext:
                    </td>
                    <td>
                        <%= ciphertext %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="col-lg-8 col-lg-offset-2 alert alert-danger error" role="alert">Error : <%= error %></div>
</div>
<div class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="text-muted"><span id="footerContent">Made with <span class="heart">♥</span></span> by <a
                    href="https://raed.it">Raed</a>.</p>

        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License"
                                                                                    style="border-width:0"
                                                                                    src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"/></a><br/>This
        work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative
            Commons
            Attribution-NonCommercial 4.0 International License</a>.
    </div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/sha256.js"></script>
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    var data = getUrlParameter("data");
    if (data !== undefined) {
        if (Sha256.hash(data) === "<%= secretHash %>") {
            alert("Good job, you found it!");
            window.location.assign("/explanation")
        }
    }
</script>
<!-- https://en.wikipedia.org/wiki/Chosen-plaintext_attack -->
</body>
</html>
